<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %></title>
        <script src="/js/flappy-bird.js" defer></script>
        <style>
            canvas {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h1>Flappy Bird Clone</h1>
        <canvas id="gameCanvas" width="2000" height="400">
    </body>
</html>
