<!doctype html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>

        <main>
            <section>
                <h2>Welcome to my portfolio!</h2>
                <p>
                    This is my personal space on the web where I showcase my
                    work.
                </p>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
